streamlit
facebook-scraper
requests
requests_html
pandas
numpy
scikit-learn
matplotlib
langdetect
pymupdf
lxml
beautifulsoup4
googletrans==4.0.0rc1
openpyxl
PyPDF2
streamlit-option-menu
streamlit_extras

